.wholeWrap {
    min-height: 800px !important;
} 

.ribbonWrap {
    margin-bottom: 25px;
}

.mainRibbon {
    float: left;
    text-transform: uppercase;
    font-size: 1.125rem;
    width: 73.5%;
    margin-left: 20px;
    height: 40px;
    background: #4db349;
    text-align: center;
    padding-top: 7px;
    z-index: 2;
    color: #fff;
    font-weight: 700;
}

.mainRibbon:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    border: 20px solid #4db349;
    left: -20px;
    border-width: 20px 10px;
    border-left-color: transparent;
}

.mainRibbon:after {
    display: block;
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #396237 transparent transparent;
    bottom: -7px;
    right: 0;
    border-width: 7px 30px 0 0;
}

.altRibbon {
    float: right;
    margin-left: 5px !important;
    width: 23.7%;
    height: 40px;
    background-color: #309e35;
    position: absolute;
    z-index: 1;
    right: 3.8%;
    top: 7px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    padding-top: 7px;
    font-weight: 400;
}

.altRibbon:hover {
    color: rgb(20, 240, 245);
}

.altRibbon:after {
    content: "";
    position: absolute;
    border: 20px solid #309e35;
    right: -30px;
    bottom: 0px;
    border-width: 20px 11px 20px 20px;
    border-right-color: transparent;
}

.arrowIcon {
    padding-top: 2px;
}

.itemcont {
    font-family: "Open Sans";
    width: 22% !important;
    max-width: 210px !important;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    background-color: white;
}

.itemcont:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.favIcon {
    padding-right: 0% !important;
    padding-left: 95% !important;
}

.favButtonActive {
    color: #e22e39;
    cursor: pointer;
}

.favButtonNotActive {
    color: rgba(172, 172, 172, 0.7);
    cursor: pointer;
}

.favButtonNotActive:hover {
    color: rgba(245, 233, 81, 0.7)
}

.image {
    display: block;
    padding-left: 7%;
    cursor: pointer;
}

.name {
    display: block !important;
    text-align: center;
    line-height: 1.2;
    text-align: center;
    font-size: .9375rem;
    padding-top: 12px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
    cursor: pointer;
}

.name:hover {
    color: rgb(181, 14, 14); 
}

.prices {
    padding-left: 0% !important;
}

.oldPrice {
    width: 0px !important;
    padding-right: 0px !important;
    padding-left: 30% !important;
    font-size: 16px;
    margin-top: 3%;
    color: grey;
    text-decoration: line-through;
    
}

.actualPrice {
    padding-right: 30% !important;
    padding-left: 0px !important;
    font-size: 24px;
    color:  #e22e39;
}

.pricePer {
    display: block !important;
    text-align: center;
    padding-left: 6px;
    opacity: 0.6;
}

.controlRow {
    position: absolute;
    bottom: 0;
    left: 4;
    padding-left: 23% !important;
    padding-right: 0% !important;
    padding-top: 5%;
    padding-bottom: 5%;
}

.inputVnt {
    width: 15% !important;
    position: relative;
    bottom: 2px;
    text-align: center;
    height: 80%;
    border-radius: 0px;
    border-width: 1px;
    border-color: rgba(172, 172, 172, 0.4);
}

.vnt {
    box-sizing: border-box;
    padding-right: 2% !important;
    padding-left: 2% !important;
    /*height: 60% !important;*/
    width: 10%;
    font-size: 20px;
    border: 1px solid rgba(172, 172, 172, 0.7);
}

.addToCartButton {
    padding-left: 2% !important;
    padding-right: 2% !important;
    color: white;
    font-weight: 400;
    cursor: pointer;
    font-size: 20px;
    background-color: #e22e39;
    border: 1px solid #e22e39;
}

.addToCartButton:hover {
    background-color: rgb(181, 14, 14);
}

@media (max-width: 1199px) {
    .mainRibbon {
        display: none !important;
    }
    
    .altRibbon {
        display: none !important;
    }

    .itemsRow {
        text-align: center !important;
    }
}

@media (max-width: 460px) {
    .itemsRow {
        padding-left: 18% !important;
    }
}