


.cartWrap {
    position: relative !important;
    min-height: 70px;
    background-color: white;
    overflow-y: scroll !important;
}

.cartColWrap {
    position: fixed !important;
    background-color: white;
    height: 80%;
    width: 180px !important;
}

.krepselisWrap {
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 180px;

}

.separationStripe {
    background-image: url(https://barbora.lt/Assets/Images/scroll-box-top.png);
    background-repeat: no-repeat;
    background-position: center 0;
    width: 180px !important; 
    display: block !important;
    margin-bottom: -5px;
    position: relative;
    z-index: 5;
    width: 100%;
    height: 5px;
}

.ProductWholewrap {
    position: fixed;
    width: 180px !important;
    overflow-y: auto;
    overflow-x: hidden;
}

.ProductWholewrap::-webkit-scrollbar {
    display: none;
}

.topScrollArrow {
    position: absolute;
    z-index: 7;
    top: 101px;
    left: 53%;
    width: 37px;
    height: 21px;
    z-index: 7;
    background-image: url(https://barbora.lt/Assets/Images/scroll-box-top-handle.png);
}

.bottomScrollArrow {
    position: absolute;
    z-index: 7;
    top: 782px;
    left: 53%;
    width: 37px;
    height: 21px;
    background-image: url(https://barbora.lt/Assets/Images/scroll-box-bottom-handle.png);
}

.footer {
    position: fixed !important;
    background-color: white;
    width: 180px !important;
    z-index: 7;
    font-size: 14px;
    line-height: 1.42857143;
    bottom: 0px;
    margin-bottom: 5px;
}
