

.InfoWrap {
    margin-top: 24px;
    margin-bottom: 20px;
}

.InfoWrap:before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background: url(https://barbora.lt/Assets/Images/icons/phone.png) no-repeat;
    position: absolute;
    top: 10;
    left: -20px;
    cursor: pointer;
}

.NumberRow {
    display: inline-block;
    position: relative;
    color: #999;
    text-decoration: none;
    font-size: 1.625rem;
    line-height: 1;
    margin-bottom: 4px;
    cursor: pointer;
}

.number {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.textRow {
    font-size: .875rem;
    margin-right: -15px !important;
    margin-left: -15px !important;
}

.text {
    padding-left: 0px !important;
    padding-right: 0px !important;
    color: #999;
    font-size: .9375rem;
    line-height: 1.2;
}

.elp {
    padding-left: 0px !important;
    padding-right: 0px !important;
    color: #999;
    font-size: .875rem;
}

.elPastas {
    padding-left: 4px !important;
    padding-right: 0px !important;
    color: #e22e39;
    text-decoration: underline;
    outline: 0!important;
    cursor: pointer;
    border: 0;
    font-size: .875rem;
}

.elPastas:hover {
    text-decoration: none;
}

.cartWrap {
    position: relative !important;
    min-height: 70px;
    background-color: white;
    overflow-y: scroll !important;
}

.cartColWrap {
    position: fixed !important;
    background-color: white;
    height: 80%;
    width: 180px !important;
}

.krepselisWrap {
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 180px;

}

.krepselis {
    display: block !important;
    align-items: center;
    text-align: center;
    background: #e22e39;
    width: 180px !important;
    height: 65px !important;
    padding: 7px !important;
    border-bottom: 4px solid #e22e39;
    font-family: "Open Sans";
    font-size: .825rem;
    text-transform: uppercase;
    padding-top: 20px !important;
    color: #fff;
}

.krepselis:before {
    content: "";
    display: block;
    width: 180px;
    background: url(https://barbora.lt/Assets/Images/sidebar-top-1.png);
    position: absolute;
    top: -3px;
    left: 0;
    height: 3px;
    
}

.prekiuKrepselyje {
    width: 180px;
    padding: 5px 10px;
    font-weight: 700;
}

.visoPrekiuCol {
    line-height: 1.2;
    color: #555;
    font-size: .6875rem;
    font-family: "Open Sans";
}

.visoPrekiuColAmount {
    padding-top: 1px;
}

.emptyCart {
    width: 180px;
    padding: 5px 15px 15px;
    font-size: .75rem;
    font-family: "Open Sans";
    color: #494949;
    line-height: 1.42857143;
}

.pirkimoIstorija {
    color: #e22e39;
    text-decoration: underline;
    cursor: pointer;
    font-size: .75rem;
    font-family: "Open Sans";
    line-height: 1.42857143;
}

.pirkimoIstorija:hover {
    text-decoration: none;
}

.separationStripe {
    background-image: url(https://barbora.lt/Assets/Images/scroll-box-top.png);
    background-repeat: no-repeat;
    background-position: center 0;
    width: 180px !important; 
    display: block !important;
    margin-bottom: -5px;
    position: relative;
    z-index: 5;
    width: 100%;
    height: 5px;
}

.ProductWholewrap {
    position: fixed;
    width: 180px !important;
    overflow-y: auto;
    overflow-x: hidden;
}

.ProductWholewrap::-webkit-scrollbar {
    display: none;
}

.topScrollArrow {
    position: absolute;
    z-index: 7;
    top: 101px;
    left: 53%;
    width: 37px;
    height: 21px;
    z-index: 7;
    background-image: url(https://barbora.lt/Assets/Images/scroll-box-top-handle.png);
}

.bottomScrollArrow {
    position: absolute;
    z-index: 7;
    top: 782px;
    left: 53%;
    width: 37px;
    height: 21px;
    background-image: url(https://barbora.lt/Assets/Images/scroll-box-bottom-handle.png);
}

.productInCartRow {
    width: 180px !important;
    border-top: 3px solid #f0f0f0;
    min-height: 60px;
    font-size: .6875rem;
    margin-bottom: 20px;
}

.productInCartWrap {
    width: 180px !important;
}

.productImgInCartWrap {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.productImgInCart {
    max-width: 56px !important;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    cursor: pointer;
}

.productName {
    color: #494949;
    text-decoration: none;
    outline: 0 !important;
    cursor: pointer;
    padding: 5px 0 5px;
    font-size: .6rem;
    text-align: left;
    display: block;
    line-height: 1.1;
}

.productName:hover {
    color: #e22e39;
}

.productPrice {
    display: block;
    color: #e22e39;
    font-weight: 700;
    font-size: .8125rem;
    line-height: 22px;
}

.itemInCartControlsValue {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 2px !important;
    margin-right: 0px !important;
    text-align: center;
    height: auto;
    font-size: .8125rem;
    border-radius: 0;
    border: 0;
    background: #f0f0f0;
    font-weight: 700;
    color: #555;
    line-height: 25px;
    font-family: "Open Sans";
}

.itemInCartControlsVnt {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 2px !important;
    text-align: center;
    height: auto;
    font-size: .8125rem;
    border-radius: 0;
    border: 0;
    background: #f0f0f0;
    font-weight: 700;
    color: #555;
    line-height: 25px;    
    font-family: "Open Sans";
}

.itemInCartControlsButtonMinus {
    margin-left: 3px !important;
    margin-right: 15px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-align: center;
    height: auto;
    font-size: .8125rem;
    border-radius: 0;
    border: 0;
    background: #f0f0f0;
    font-weight: 700;  
    color: #555;
    line-height: 25px;
    font-family: "Open Sans";
    cursor: pointer;
}

.itemInCartControlsButtonPlus {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-align: center;
    height: auto;
    font-size: .8125rem;
    border-radius: 0;
    border: 0;
    background: #f0f0f0;
    font-weight: 700;  
    color: #555;
    line-height: 25px;
    font-family: "Open Sans";
    cursor: pointer;
}

.xButtonCol {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.footer {
    position: fixed !important;
    background-color: white;
    width: 180px !important;
    z-index: 7;
    font-size: 14px;
    line-height: 1.42857143;
    bottom: 0px;
    margin-bottom: 5px;
}

.loadingBar {
    background: #ccc;
    width: 180px;
    height: 4px;
}

.loadingBarCompleted {
    background: #4db349;
    width: 180px;
    height: 4px;
}

.ikiTruksta {
    background: rgb(255, 248, 192);
    align-items: center;
    font-family: "Open Sans";
    color: #494949;
    width: 180px;
}

.ikiTrukstaCompleted {
    background: #edf7ed;
    align-items: center;
    font-family: "Open Sans";
    color: #494949;
    width: 180px;
}

.ikiIconCol {
    padding-left: 10px !important;
    padding-right: 0px !important;
    padding-top: 4px;
}

.ikiText {
    font-size: .69rem;
    line-height: 1.2;
}

.footerIconCol {
    margin-left: 5.5px;
    margin-top: 3px;
}

.footerIconGreen {
    background: #4db349;
    padding: 6px;
    border-radius: 35px;
    justify-content: center;
    align-items: center;
}

.footerIconGrey {
    background: #f0f0f0;
    padding: 6px;
    border-radius: 35px;
    justify-content: center;
    align-items: center;
}

.footerIconPrice {
    padding-left: 4px;
    font-size: .625rem;
    margin-top: 3px;
    font-family: "Open Sans";
    color: #494949;
    line-height: 1.42857143;
}

.footerIconPriceZero {
    padding-left: 4px;
    font-size: .625rem;
    margin-top: 3px;
    font-family: "Open Sans";
    color: #928d8d;
    line-height: 1.42857143;
}

.galutineKainaRow {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: .9375rem;
    color: #494949;
    line-height: 1.42857143;
    background-color: white;
}

.galutineKaina {
    padding-left: 5px !important;
    padding-right: 0px !important;
}

.galutineKainaPrice {
    padding-left: 0px !important;
    padding-right: 0px !important;
    color: #e22e39;
}

.footerButton {
    margin: 5px 0px !important;
    color: white;
    cursor: pointer;
    background: #e22e39;
    justify-content: center;
    padding: .7em;
    font-weight: 700;
}

.footerButton:hover {
    background: rgb(181, 14, 14);
}

.footerButtonDisabled {
    margin: 5px 0px !important;
    color: #494949;
    cursor: not-allowed;
    background: #f0f0f0;
    justify-content: center;
    padding: .7em;
    font-weight: 700;
    opacity: .5;
}