.cartParamRow {
    background-color: white;
    margin-bottom: 20px;
    margin-left: -22px !important;
    margin-right: -8px !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.cartParamCol {
    width: 100%;
}

.cartBuyButtonCol {
    max-width: 100% !important;
    width: 100% !important;
    height: 40px !important;
    color: #fff;
    background-color: #e22e39;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
    font-weight: 700;
    outline: none;
    border: none;
}

.cartBuyButtonColDisabled {
    display: block !important;
    max-width: 100% !important;
    width: 100% !important;
    height: 40px !important;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
    font-weight: 700;
    outline: none;
}

.cartBuyButtonCol:hover {
    background-color: rgb(181, 14, 14);
    outline: none;
    border: none;
}

.cartParamGalutineKaina {
    display: block;
    font-weight: 700;
    font-size: .8125rem;
    line-height: 22px;
}

.cartParamMinKrepselis {
    display: block;
    font-weight: 700;
    font-size: .8125rem;
    line-height: 22px;
}

.cartParamMinKrepselisGreen {
    display: block;
    font-weight: 700;
    color: green;
    font-size: .8125rem;
    line-height: 22px;
}

.cartParamVisoPrekiu {

}

.cartParamValue {
    color: #e22e39;
    font-size: 18px !important;
}