/* .wholeWrap {
    margin-left: -90px;
    width: 630px;
    min-height: 500px;
    background-color: #fff;
} */

.greetingLine {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #898989;
}

.inputController {
    width: 100%;
    height: 34px;
    margin-bottom: 10px;
}

.inputLabel {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42857143;
    color: #494949;
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
    padding-right: 10px !important;
    padding-left: 0px !important;
}

.emailInputCol {
    padding: 0px 10px !important;
    height: 34px;
}

.emailInput {
    height: 34px;
    width: 100%;
    padding: 0 4px;
    outline: 0 !important;
    font-size: .8125rem;
    border: 1px solid #ccc;
}

.passwordInputCol {
    padding: 0px 10px !important;
    height: 34px;
}

.passwordInput {
    height: 34px;
    width: 80%;
    padding: 0 4px;
    outline: 0 !important;
    font-size: .8125rem;
    border: 1px solid #ccc;
}

.eyeButton {
    outline: 0!important;
    color: #fff;
    background-color: #e22e39;
    vertical-align: top;
    min-width: 48px;
    min-height: 34px;
    text-decoration: none;
    border: 1px solid #e22e39;
}

.eyeButton:hover {
    color: #fff;
    background-color: #c21b25;
    border-color: #b91a23;
}

.eyeButton:active:focus {
    color: #fff;
    background-color: #a3171f;
    border-color: #7f1218;
}

.loginButtonCol {
    padding: 0px !important;
}

.keepLogged {
    line-height: 20px;
    max-width: 100%;
    min-height: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-weight: 400;
    cursor: pointer;
    color: #494949;
    font-size: 14px;
}

.keepLogged:hover {
    color: #2e2d2d;
}

.checkBox {
    position: absolute;
    margin-right: 5px;
    top: 6px;
}

.loginButton {
    outline: 0 !important;
    min-width: 54px;
    font-size: 14px;
    padding: 6px 12px;
    margin-bottom: 10px;
    color: #fff;
    border: 1px solid #e22e39;
    background-color: #e22e39;
    border-radius: 3px;
}

.loginButton:hover {
    background-color: #c21b25;
    border-color: #b91a23;
    cursor: pointer;
}

.loginButtonDisabled {
    outline: 0 !important;
    min-width: 54px;
    font-size: 14px;
    padding: 6px 12px;
    margin-bottom: 10px;
    color: #fff;
    border: 1px solid #898989;
    background-color: #898989;
    border-radius: 3px;
}

.passwordRecovery {
    margin-bottom: 30px;
    color: #e22e39;
    text-decoration: underline;
}

.passwordRecovery:hover {
    color: #c21b25;
    text-decoration: none;
}