.modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 50%;
    /* border: 1px solid #e22e39; */
    border: none;
    box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.2);
    /*padding: 16px;*/
    left: 15%;
    top: 15%;
    box-sizing: border-box;
    border-radius: 15px;
    /* transition: all 0.2s ease-out; */
}

.inputController {
    width: 100%;
    height: 34px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.inputLabel {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42857143;
    color: #494949;
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
    padding-right: 10px !important;
    padding-left: 0px !important;
}

.emailInputCol {
    padding: 0px 10px !important;
    height: 34px;
}

.emailInput {
    height: 34px;
    width: 77%;
    padding: 0 4px;
    outline: 0 !important;
    font-size: .8125rem;
    border: 1px solid #ccc;
}

.emailInputNotValid {
    height: 34px;
    width: 77%;
    padding: 0 4px;
    outline: 0 !important;
    font-size: .8125rem;
    border: 1px solid #c21b25;
}

.passwordInputCol {
    padding: 0px 10px !important;
    height: 34px;
}

.passwordInput {
    height: 34px;
    width: 60%;
    padding: 0 4px;
    outline: 0 !important;
    font-size: .8125rem;
    border: 1px solid #ccc;
}

.passwordInputNotValid {
    height: 34px;
    width: 60%;
    padding: 0 4px;
    outline: 0 !important;
    font-size: .8125rem;
    border: 1px solid #c21b25;
}

.eyeButton {
    outline: 0!important;
    color: #fff;
    background-color: #e22e39;
    vertical-align: top;
    min-width: 48px;
    min-height: 34px;
    text-decoration: none;
    border: 1px solid #e22e39;
}

.eyeButton:hover {
    color: #fff;
    background-color: #c21b25;
    border-color: #b91a23;
}

.eyeButton:active:focus {
    color: #fff;
    background-color: #a3171f;
    border-color: #7f1218;
}

.loginButtonCol {
    position: fixed !important;
    bottom: 0%;
    left: 1%;
    padding: 0px !important;
}

.loginButton {
    outline: 0 !important;
    min-width: 54px;
    font-size: 14px;
    padding: 6px 12px;
    margin-bottom: 10px;
    margin-top: 20px;
    color: #fff;
    border: 1px solid #e22e39;
    background-color: #e22e39;
    border-radius: 3px;
}

.loginButtonDisabled {
    outline: 0 !important;
    min-width: 54px;
    font-size: 14px;
    padding: 6px 12px;
    margin-bottom: 10px;
    color: #fff;
    border: 1px solid #898989;
    background-color: #898989;
    border-radius: 3px;
}

.loginButton:hover {
    background-color: #c21b25;
    border-color: #b91a23;
}

.notValid {
    width: 450px;
    display: block;
    margin-top: 5px;
    margin-left: 50px !important;
    text-align: center !important;
    margin-bottom: 10px;
    font-size: 16px;
    color: #e22e39;
}

.error {
    width: 155%;
    display: block;
    margin-top: 5px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
    color: #e22e39;
}

@media (max-width: 729px) {
    .error {
        width: 100%;
        margin-left: 2% !important;
    }
    
    .notValid {
        width: 100%;
        margin-left: 10% !important;
    }
}

@media (max-width: 728px) {
    .modal {
        width: 94%;
        /*min-height: 280px !important;*/
        top: 5%;
        left: 3%;
    }

    .error {
        margin-left: 15px !important;
    }
    
    .notValid {
        margin-left: 15px !important;
    }

    .inputController {
        height: unset;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .inputLabel {
        text-align: left;
        margin-left: 25px;
    }

    .emailInput {
        margin-left: 15px !important;
        width: 90%;
    }

    .emailInputNotValid {
        margin-left: 15px !important;
        width: 90%;
    }

    .passwordInput {
        margin-left: 15px !important;
        width: 75%;
    }

    .passwordInputNotValid {
        margin-left: 15px !important;
        width: 75%;
    }

    .eyeButton {
        width: 15%;
        min-width: unset;
    }

    .loginButtonCol {
        margin-left: 15px;
    }
}