@media (min-width: 240px) {
    .InfoWrap {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .InfoWrap {
        display: flex !important;
    }
}

.InfoWrap {
    margin-top: 24px;
    margin-bottom: 20px;
}

.InfoWrap:before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background: url(https://barbora.lt/Assets/Images/icons/phone.png) no-repeat;
    position: absolute;
    top: 10;
    left: -20px;
    cursor: pointer;
}

.NumberRow {
    display: inline-block;
    position: relative;
    color: #999;
    text-decoration: none;
    font-size: 1.625rem;
    line-height: 1;
    margin-bottom: 4px;
    cursor: pointer;
}

.number {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.textRow {
    font-size: .875rem;
    margin-right: -15px !important;
    margin-left: -15px !important;
}

.text {
    padding-left: 0px !important;
    padding-right: 0px !important;
    color: #999;
    font-size: .9375rem;
    line-height: 1.2;
}

.elp {
    padding-left: 0px !important;
    padding-right: 0px !important;
    color: #999;
    font-size: .875rem;
}

.elPastas {
    padding-left: 4px !important;
    padding-right: 0px !important;
    color: #e22e39;
    text-decoration: underline;
    outline: 0!important;
    cursor: pointer;
    border: 0;
    font-size: .875rem;
}

.elPastas:hover {
    text-decoration: none;
}