.wholeModalWrap {
    display: inline-block;
    height: 294px;
    width: 630px; 
}

.exitButton {
    width: 42px;
    height: 42px;
    background-color: #e22e39;
    opacity: 1;
    margin-right: 8px;
    margin-top: 8px;
    float: right;
    font-size: 21px;
    font-weight: 700;
    border: none;
    color: white;
}

.exitButton:focus {
    border: none;
    outline: none;
}

.exitButton:hover {
    background-color: rgb(181, 14, 14);
}

.headWrap {
    height: 60px;
    width: 630px;
    
    background-color: #e22e39;
}

.head {
    padding-top: 10px;
    height: 60px;
    margin-left: 15px;
}

.headOption {
    height: 42px;
    min-height: 100%;
    line-height: 1.42857143;
    border: 1px solid transparent;
    color: white;
    margin-left: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 12px;
    font-weight: 600;
    margin-bottom: 0px;
    vertical-align: bottom;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.headOption:hover {
    background-color: rgb(181, 14, 14);
    cursor: pointer;
}

.headOption:active,
.headOption.active {
    background-color: white;
    color: #e22e39;
}

.headOptionActive {
    height: 42px;
    min-height: 100%;
    line-height: 1.42857143;
    border: 1px solid transparent;
    color: #e22e39;
    background-color: white;
    margin-left: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 12px;
    font-weight: 600;
    margin-bottom: 0px;
    vertical-align: bottom;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.content {
    height: 294px;
    width: 630px;
    padding: 30px 90px;
    position: relative;
}
