.modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    /* border: 1px solid #e22e39; */
    border: none;
    box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.2);
    /*padding: 16px;*/
    left: 15%;
    top: 15%;
    box-sizing: border-box;
    /* transition: all 0.2s ease-out; */
}

@media (min-width: 600px) {
    .modal {
        width: 630px;
        left: calc(50% - 250px);
    }
}