.wholeWrap {
    min-height: 800px !important;
} 

@media (max-width: 1199px) {
    .itemsRow {
        text-align: center !important;
    }
}

@media (max-width: 460px) {
    .itemsRow {
        padding-left: 18% !important;
    }
}