.logo {
    padding-top: 25px;
    cursor: pointer;
    width: 237px;
    height: 77px;
    position: relative;
    top: 2.1px;
}

.rightSideWrap {
    margin-top: 20px;
    float: right !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.downloadMenu {
    flex-wrap: unset !important;
    width: 100px !important;
    margin-right: 0px !important;
    padding-top: 0px;
}

.downloadMenuFirstCol {
    font-size: 11px;
    align-self: center;
    padding-top: 1px;
    padding-right: 0px !important;
    padding-left: 2px !important;
}

.downloadMenuCol {
    padding-right: 0px !important;
    padding-left: 2px !important;
    cursor: pointer;
}

.homeButton:before {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background: #0f0f0f;
    position: absolute;
    top: 0;
    left: 10%;
    z-index: 1;
}

.homeButton:after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background: #0f0f0f;
    position: absolute;
    top: 0;
    left: 80%;
    z-index: 1;
}


.searchBar {
    margin-top: 15px;
}

.mainMenu {
    display: flex;
    justify-content: center;
    background-color: #e22e39;
    align-items: center;
    position: relative;
    border: 2px solid #e22e39;
    border-bottom: 0px;
    border-left-width: 16px;
    font-size: .8125rem;
}

.mainMenu:before {
    content: "";
    display: block;
    width: 102%;
    height: 6px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsPSIjZTIyZTM5IiBkPSJNMCA2bDYtMyA2IDMiLz48L3N2Zz4=) repeat-x;
    position: absolute;
    top: -8px;
    left: 0;
    margin-left: -16px;
    background-position-x: -5px;
}

.mainMenuFirstCol {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans";
    line-height: 60px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration-style: solid;
    margin-top: 4px;
    color: #fff;
    font-weight: 700;
    align-content: center;
}

.mainMenuFirstCol:hover:after {
    content: "";
    display: block;
    width: 1px;
    height: 60%;
    background: rgb(181, 14, 14);
    position: absolute;
    top: 3;
    right: 0;
    z-index: 1;
}

.mainMenuFirstCol:active:after {
    content: "";
    display: block;
    width: 1px;
    height: 60%;
    background: #fff;
    position: absolute;
    top: 3;
    right: 0;
    z-index: 1;
}

.mainMenuFirstCol:hover {
    background-color: rgb(181, 14, 14);
}

.mainMenuFirstColActive {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans";
    line-height: 60px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration-style: solid;
    margin-top: 4px;
    font-weight: 700;
    align-content: center;
    background-color: #fff;
    color: #e22e39;
}

.mainMenuFirstCol:active {
    background-color: #fff;
    color: #e22e39;
}

.mainMenuCol {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans";
    line-height: 60px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration-style: solid;
    margin-top: 4px;
    color: #fff;
    font-weight: 700;
    align-content: center;
}

.mainMenuCol:before {
    content: "";
    display: block;
    width: 0;
    height: 24px;
    border-right: 1px dotted #fff;
    position: absolute;
    top: 18.5px;
    left: -1px;
}

.mainMenuCol:hover:after {
    content: "";
    display: block;
    width: 1px;
    height: 60%;
    background: rgb(181, 14, 14);
    position: absolute;
    top: 3;
    right: 0;
    z-index: 1;
}

.mainMenuCol:hover:before {
    content: "";
    display: block;
    width: 1px;
    height: 60%;
    border-right: 0px dotted transparent;
    background: rgb(181, 14, 14);
    position: absolute;
    top: 3;
    right: 0;
    left: 0px;
    z-index: 1;
}

.mainMenuCol:hover {
    background-color: rgb(181, 14, 14);
}

.mainMenuColActive {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans";
    line-height: 60px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration-style: solid;
    margin-top: 4px;
    font-weight: 700;
    align-content: center;
    background-color: #fff;
    color: #e22e39;
}

.mainMenuCol:active {
    background-color: #fff;
    color: #e22e39;
}

.mainMenuCol:active:before {
    content: "";
    display: block;
    width: 1px;
    height: 60%;
    background: #fff;
    position: absolute;
    top: 3;
    right: 0;
    z-index: 1;
}

.mainMenuCol:active:after {
    content: "";
    display: block;
    width: 1px;
    height: 60%;
    background: #fff;
    position: absolute;
    top: 3;
    right: 0;
    z-index: 1;
}

.categoriesWrap {
    font-family: "Open Sans";
    font-size: .75rem;
    padding: 10px 0px 10px;
    font-weight: 500;
    color: #494949;
    text-align: center !important;
    line-height: 1.15;
}

.categoriesItem {
    display: inline-block !important;
    cursor: pointer;
    /* width: 20px !important; */
    text-align: left;
    padding-left: 5px !important;
    padding-right: 0px !important;
    margin-right: 2px !important;
    border-left: 1px solid #ccc;

}

.categoriesItemFix {
    display: inline-block !important;
    vertical-align: top !important;
    text-align: center !important;
    padding-left: 18px !important;
    align-content: center !important;
    /* padding-left: 0px !important;
    padding-right: 0px !important; */
}

.categoriesItem:hover {
    color: rgb(181, 14, 14)
}

.categoriesItemText {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.categoriesItemSaldF {
    padding-left: 15px !important;
}

@media (min-width: 1200px) {
    .smallLogo {
        display: none !important;
    }

    .burgerButtonCol {
        display: none;
    }

    .cart {
        display: none;
    }
}

@media (max-width: 1199px) {
    .wholeContainer {
        max-width: 100% !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
        padding-top: 40px !important;
        margin-bottom: 20px !important;
    }

    .logo {
        display: none;
    }

    .rightSideWrap {
        display: none;
    }

    .categoriesWrap {
        display: none !important;
    }

    .mainMenu {
        position: fixed;
        top: 0 ;
        width: 100%;
        margin-left: 0px !important;
        left: 0px !important;
        margin-right: 0px !important;
        height: 40px !important;
        border-left-width: 0px;
        z-index: 5;
    }

    .burgerButtonCol {
        min-width: 15px !important;
        max-width: 50px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-left: 15px;
    }

    .burgerButton {
        padding-top: 3px;
        display: inline-block;
        width: 20px;
        height: 27px;
        background: url(https:/barbora.lt/Assets/Images/icons/menu.png) no-repeat;
        vertical-align: bottom;
        outline: none;
        border: none;
    }

    .smallLogo {
        min-width: 15px !important;
        max-width: 50px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 9px;
    }

    .cart {
        color: white;
        background-color: rgb(181, 14, 14);
        border-radius: 10px;
        padding-left: 7px !important;
        padding-right: 0px !important;
        max-width: 125px !important;
        height: 32px;
        font-size: 1.2em;
    }

    .burgerButton:focus {
        outline: none;
    }

    .mainMenuFirstCol {
        display: none !important;
    }

    .mainMenuFirstColActive {
        display: none !important;
    }

    .mainMenuCol {
        display: none !important;
    }

    .mainMenuColActive {
        display: none !important;
    }

    .searchBar {
        display: none !important;
    }
}

@media (max-width: 600px) {
    .basketIcon {
        display: none !important;
    }

    .smallLogo {
        padding-left: 0px !important;
        margin-left: 3px !important;
    }

    .cart {
        color: white;
        background-color: rgb(181, 14, 14);
        border-radius: 10px;
        text-align: center;
        padding-top: 5px;
        padding-right: 8px !important;
        max-width: 125px !important;
        height: 32px;
        font-size: 1.2em;
    }

    .burgerButtonCol {
        min-width: 15px !important;
        max-width: 50px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-left: 2%;
    }
}