.dropdownButton {
    display: inline-block;
    position: relative;
    width: 19px;
    height: 19px;
    background: #656565;
    color: #fff;
    bottom: 2px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}