.SideDrawer {
    position: fixed;
    width: 220px;
    /* max-width: 70%; */
    height: 100%;
    left: -280px;
    top: 0;
    z-index: 900;
    background-color: #fff;
    /*background-color: rgb(252, 223, 223);*/
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

/* @media (min-width: 500px) {
    .SideDrawer {
        display: none;
    }
} */

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.accountOptions {
    margin-top: 30px;
}

.mainMenu {
    margin-top: 20px;
}

.customRow {
    padding-left: 0px !important;
    display: block !important;
    padding-top: 13px;
    height: 50px;
    background-color: #fff;
    color: rgb(70, 68, 68);
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center !important;
    font-size: 16px;
}

.customRowActive {
    padding-left: 0px !important;
    display: block !important;
    padding-top: 12px;
    height: 50px;
    background-color: #e22e39;
    color: #fff;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center !important;
    font-size: 16px
}

.customRow:hover {
    cursor: pointer;
    background-color: #e22e39;
    color: #fff;
}

.separationStripe {
    background-image: url(https://barbora.lt/Assets/Images/scroll-box-top.png);
    background-repeat: no-repeat;
    background-position: center 0;
    display: block !important;
    margin-bottom: 0px;
    position: relative;
    z-index: 1200;
    width: 110%;
    height: 5px;
}

@media (max-height: 710px) {
    .SideDrawer {
        overflow-y: auto;
    }

    .SideDrawer::-webkit-scrollbar {
        display: none;
    }
}