.wholeRow {
    width: 100% !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.itemWholeRow {
    width: 100%;
    background-color: white;
    margin-left: 0px !important;
    margin-right: 0px !important;
    border: 2px solid rgba(0, 0, 0, 0.11);
    border-left: hidden;
    border-top: hidden;
    border-right: hidden;
}

.itemWholeRow:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.imgCol {
    position: relative !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    max-height: 120px;
    top: 15%;
}

.image {
    width: auto;
    max-width: 100%;
    height: auto;
    top: 50%;
    max-height: 80px;
    padding-left: 5%;
    /* vertical-align: middle !important; */
    /* padding-top: 35px; */
}

.productPrice {
    display: block;
    color: #e22e39;
    font-weight: 700;
    font-size: .8125rem;
    line-height: 22px;
}

.controls {
    position: relative;
    bottom: 10px;
}

.vnt {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 6px !important;
    text-align: center;
    height: auto;
    font-size: 18px;
    border-radius: 0;
    border: 0;
    background: #f0f0f0;
    font-weight: 700;
    color: #555;
    line-height: 25px;    
    font-family: "Open Sans";
}

.xButton {
    position: sticky;
    left: 90%;
    padding-left: 0px !important;
    padding-right: 0px !important;
    z-index: 5;
}