.footer {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.loadingBar {
    background: #ccc;
    width: 180px;
    height: 4px;
}

.loadingBarCompleted {
    background: #4db349;
    width: 180px;
    height: 4px;
}

.ikiTruksta {
    background: rgb(255, 248, 192);
    align-items: center;
    font-family: "Open Sans";
    color: #494949;
    width: 180px;
}

.ikiTrukstaCompleted {
    background: #edf7ed;
    align-items: center;
    font-family: "Open Sans";
    color: #494949;
    width: 180px;
}

.ikiIconCol {
    padding-left: 10px !important;
    padding-right: 0px !important;
    padding-top: 4px;
}

.ikiText {
    font-size: .69rem;
    line-height: 1.2;
}

.footerIconCol {
    margin-left: 5.5px;
    margin-top: 3px;
}

.footerIconGreen {
    background: #4db349;
    color: #fff;
    padding: 6px;
    border-radius: 35px;
    justify-content: center;
    align-items: center;
}

.footerIconGrey {
    background: #f0f0f0;
    color: #555;
    padding: 6px;
    border-radius: 35px;
    justify-content: center;
    align-items: center;
}

.footerIconPrice {
    padding-left: 4px;
    font-size: .625rem;
    margin-top: 3px;
    font-family: "Open Sans";
    color: #494949;
    line-height: 1.42857143;
}

.footerIconPriceZero {
    padding-left: 4px;
    font-size: .625rem;
    margin-top: 3px;
    font-family: "Open Sans";
    color: #928d8d;
    line-height: 1.42857143;
}

.galutineKainaRow {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: .9375rem;
    color: #494949;
    line-height: 1.42857143;
    background-color: white;
}

.galutineKaina {
    padding-left: 5px !important;
    padding-right: 0px !important;
}

.galutineKainaPrice {
    padding-left: 0px !important;
    padding-right: 0px !important;
    color: #e22e39;
}

.footerButton {
    width: 140px;
    margin: 5px 20px !important;
    color: white;
    cursor: pointer;
    background: #e22e39;
    align-items: center;
    border: none;
    border-radius: 4px;
    padding: .7em;
    font-weight: 700;
    outline: none;
}

.footerButton:hover {
    background: rgb(181, 14, 14);
}

.footerButton:focus {
    outline: none;
}

.footerButtonDisabled {
    width: 140px;
    margin: 5px 20px !important;
    color: #494949;
    cursor: not-allowed;
    background: #f0f0f0;
    align-items: center;
    border: none;
    border-radius: 4px;
    padding: .7em;
    font-weight: 700;
    opacity: .5;
}